*.pyc
logs/*
aqi/*
!aqi/locations.json
archdaily/*
flickr/*
!flickr/locations.json
foursquare/*
!foursquare/locations.json
!foursquare/locations_gps_mash.json
github/*
test.py
yahooweather/*
!yahooweather/locations.json
yelp/*
!yelp/locations.json